# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project folders
projects/

# Vim swap files
*.swp

# Auto generated game_types file
include/game_types.h
include/network_types.h
src/network_types.cpp

#python
*.pyc
__pycache__
